.carousel-item{
    width: 100%;
    height: 600px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

  .navbar-toggler{
    position: absolute;
    right: 30px;
    top: 8px;
  }
  
  @media (max-width: 600px) {
    .carousel-item {
      height: 280px;
    }
  }

  .carousel-caption h3{
    font-size: 2.5rem;
    font-weight: bold;
    text-shadow: 2px 2px 2px black;
  }

  .carousel-caption p{
      font-size: 1.3rem;
      color: #ffffff;
      text-shadow: 2px 2px 2px black;
  }

  #carousel-platform{
      cursor: pointer;
  }

  @media (min-width: 1200px) AND (max-width: 3500px) {
    .carousel {
      height: 80vh;
    }
    .carousel-item {
      height: 80vh;
    }
  }